<div class="row">
  <!--<div class="col-md-2 col-xs-1">-->
    <!--<table class="table label-table" >-->
      <!--<tr><td><strong>{{setLabels[$index]}}:</strong></td></tr>-->
    <!--</table>-->
  <!--</div>-->
  <div class="col-md-10 col-xs-11">
    <div class="table-responsive numberSet">
      <!--<table class="table table-bordered table-striped bg-primary" ng-class="{'active': $index == activeSet}" ng-click="toggleSet($index)" num-set={{$index}}>-->
        <!--<tr ng-hide="luckyPicks[$index]">-->
          <!--<td class="selected-number col-sm-1" ng-repeat="selectable in getSelectableNumbers() track by $index">{{selectedNumbers[$parent.$index][$index]}}&nbsp;</td>-->
        <!--</tr>-->
        <!--<tr ng-show="luckyPicks[$index]">-->
          <!--<td>-->
            <!--Lucky Pick<span class="pull-right"><button class="btn btn-xs" ng-click="unlucky($index)" translate>BUY_LOTTO.BUTTONS.RESET</button></span>-->
          <!--</td>-->
        <!--</tr>-->
      <!--</table>-->
      <table class="table table-bordered table-striped bg-primary" ng-repeat="numSet in selectedSet.numberSets track by $index" ng-class="{'active': $index===selectedSet.currentSet}" ng-click="selectedSet.chooseCurrent($index)">
        <tr ng-hide="selectedSet.isLucky($index)">
          <td ng-repeat="number in selectedSet.numberRange track by $index" class="selected-number col-sm-1">
            {{ numSet[$index] }}&nbsp;
          </td>
        </tr>
        <tr ng-show="selectedSet.isLucky($index)">
          <td>
            Lucky Pick <span class="pull-right"><button class="btn btn-xs" ng-click="selectedSet.notLucky($index)" translate>BUY_LOTTO.BUTTONS.RESET</button></span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
