<div class="row">
  <div class="col-sm-12">
    <h5>Purchases</h5>
  </div>
  <div class="col-sm-12">
    <div class="table-responsive">
      <table ng-table="appPurchases.tableParams" class="table table-bordered table-hover">
        <!-- <thead>
          <th>ID</th>
          <th>Date</th>
          <th>User</th>
          <th>Orders</th>
          <th>Total Cost</th>
          <th>Payment Method</th>
          <th>Status</th>
          <th>Actions</th>
        </thead> -->
        <!-- <tbody> -->
          <tr ng-repeat="purchase in $data">
            <td data-title="'ID'" sortable="'id'">{{ purchase.id }}</td>
            <td data-title="'Date'" sortable="'date'">{{ purchase.date | date : "medium" }}</td>
            <td data-title="'User'" sortable="'username'">{{ purchase.username }}</td>
            <td data-title="'Orders'"></td>
            <td data-title="'Total Cost'" sortable="'cost'">{{ purchase.cost | currency : "PHP" }}</td>
            <td data-title="'Payment Method'">Paypal</td>
            <td data-title="'Status'">
              <span class="label label-warning" ng-if="purchase.status=='created'">Created</span>
              <span class="label label-success" ng-if="purchase.status=='completed'">Completed</span>
              <span class="label label-danger" ng-if="purchase.status=='cancelled'">Cancelled</span>
            </td>
            <td data-title="'Actions'"></td>
          </tr>
        <!-- </tbody> -->
      </table>
    </div>
  </div>
</div>
