<div class="col-md-12">
  <h3 translate>PAGE_HEADINGS.FAQ</h3>
</div>
<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
	<h4>HOW TO CLAIM A LOTTERY PRIZE</h4>

	<p>Write your name and affix your signature at the back of your winning tickets before claiming your prize.</p>

	<p>Prize amounting to Php 20.00 up to Php 5,000.00 can be claimed at any authorized Lotto outlet or at the PCSO Branch Office in your area.</p>

	<p>Prizes worth more than Php 5,000.00 up to Php 200,000.00 can be claimed at any of the PCSO Branch Offices or at the PCSO Head Office, PICC Secretariat Bldg, CCP Complex, 1307 Roxas Blvd., Pasay City.</p>

	<p>The JACKPOT PRIZE should be validated and claimed at the PCSO Head Office, PICC Secretariat Building, PICC, CCP Complex, Pasay City.</p>

	<p>Bring two valid ID’s and prizes can be claim from Monday to Friday, 8am to 4:30pm.</p>

	<p>For the system prize payout, please refer to the Prize Pay-Out Chart.</p>
</div>
<div class="col-md-1">&nbsp;</div>