<div class="col-md-12">
  <h3 translate>PAGE_HEADINGS.GAMES</h3>
</div>
<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
	<h4>HOW TO PLAY GRANDLOTTO 6/55</h4>
	<h5>The Power to Play</h5>

	<p>Get a GrandLotto 6/55 playslip and mark 6 numbers from numbers ranging from 1-to-55 or simply give your 6 number combination to your lotto operator or you can use Lucky Pick (LP). For standard 6 number play, minimum play is Php20.00.</p>
	<p>You can also play the different System plays:</p>

	<div class="table-responsive">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Game Type</th>
					<th>Cost (Peso)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>System 5R or 5 roll</td>
					<td>1,000.00</td>
				</tr>
				<tr>
					<td>System 7 (7 combinations)</td>
					<td>140.00</td>
				</tr>
				<tr>
					<td>System 8 (28 combinations)</td>
					<td>560.00</td>
				</tr>
				<tr>
					<td>System 9 (84 combinations)</td>
					<td>1,680.00</td>
				</tr>
				<tr>
					<td>System 10 (210 combinations)</td>
					<td>4,200.00</td>
				</tr>
				<tr>
					<td>System 11 (462 combinations)</td>
					<td>9,240.00</td>
				</tr>
				<tr>
					<td>System 12 (924 combinations)</td>
					<td>18,480.00</td>
				</tr>
			</tbody>
		</table>
	</div>

	<p>Advanced play up to six (6) consecutive draws is also available.</p>

	<p>Schedule of draw days are Monday, Wednesday and Saturday.<br />
	Available only to players 18 years of age and above.</p>

	<p>Jackpot Prize = Minimum Jackpot Prize of Php 30 Million<br />
	Second Prize = Up to Php 200,000.00<br />
	Third Prize = Up to Php 3,000.00<br />
	Fourth Prize = Php 20.00</p>
	<p>For only Php20.00, you may win if you match 6 or any 3, 4, or 5 numbers of the winning 6-number draw combination.</p>

	<p>Prizes amounting to Php5,000.00 and below can be claimed at any authorized Lotto outlet or at the PCSO Provincial District Offices in your area.</p>

	<p>Prizes worth more than Php5,000.00 to Php20,000.00 can be claimed at any of the PCSO Branch Offices or at the PCSO Head Office, PICC Secretariat Bldg, CCP Complex, 1307 Roxas Blvd., Pasay City.</p>

	<p>Jackpot prize should validated and claimed at the PCSO Head Office, PICC Secretariat Bldg, CCP Complex, 1307 Roxas Blvd., Pasay City.</p>

	<hr />

	<h4>HOW TO PLAY SUPERLOTTO 6/49</h4>

	<h5>Standard Play</h5>

	<p>Select the number of draws you want to play.</p>

	<p>Pick six numbers from 1 to 49 and mark with a vertical line. Mark LP for Lucky Pick.</p>

	<p>If an error is made, mark the VOID box to indicate that the board is cancelled.</p>

	<p>For only twenty pesos (Php20.00), you win if you match 6 or any 3, 4, or 5 numbers of the winning 6-number draw combination.</p>

	<p>If there are more than one jackpot winner, the jackpot prize will be divided equally among the winners. In the event that there is no winner for the jackpot, said prize is added to the pot of the next scheduled draw.</p>

	<p>Jackpot Prize = Minimum Jackpot Prize of Php 16 Million<br />
	Second Prize = Up to Php 70,000.00<br />
	Third Prize = Up to Php 2,000.00<br />
	Fourth Prize = Php 20.00</p>
	<p>The Superlotto Draws can be seen every Tuesday, Thursday and Sunday at 9:00 p.m. over PTV 4 together with your other favorite Lotto games.</p>

	<h5>Advance Play</h5>

	<p>Avoid the long wait to be able to buy your tickets by playing the advance draws which allows you to play from 2 up to 6 consecutive draws.</p>

	<p>Simply mark the number of draws you want to play under DRAW and your ticket is valid for the current draw and the succeeding draws depending on how many draws you marked.</p>

	<p>For example:<br />
	3 Draws = ticket is valid for current draw and two (2) consecutive advance draws.</p>


	<h5>Sytem Play</h5>

	<h6>5-Roll</h6>

	<p>For only Php880.00, you may select five (5) numbers from 1 to 49 on your game panel. The computer selects the 6th number from the remaining 44 numbers you did not choose from, giving you a total of 44 six-number combination in the ordinary game.</p>

	<h6>System 7</h6>

	<p>If you have seven (7) numbers and you don’t know which number to drop in order to play System 7. The computer will give you all the possible six-number combinations from your seven (7) numbers. With System 7, seven (7) six-number combinations will be generated.</p>

	<p>For example:<br />

	Your seven (7) numbers are 02 – 07 – 14 – 26 – 30 – 43 – 47. All the possible six-number combinations are:</p>

	<p>02 – 07 – 14 – 26 – 30 – 43<br />
	02 – 07 – 14 – 26 – 30 – 47<br />
	02 – 07 – 14 – 26 – 43 – 47<br />
	02 – 07 – 14 – 30 – 43 – 47<br />
	02 – 07 – 26 – 30 – 43 – 47<br />
	02 – 14 – 26 – 30 – 43 – 47<br />
	07 – 14 – 26 – 30 – 43 – 47</p>
	<p>The same principle applies to Systems 9, 10, 11 and 12. Refer to the table for the corresponding number of combinations per System Play and the cost. Remember, Php20.00 for every six-number combination.</p>

	<div class="table-responsive">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>System</th>
					<th>5 Roll</th>
					<th>System 7</th>
					<th>System 8</th>
					<th>System 9</th>
					<th>System 10</th>
					<th>System 11</th>
					<th>System 12</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>No. of Combinations</td>
					<td>44</td>
					<td>7</td>
					<td>28</td>
					<td>84</td>
					<td>210</td>
					<td>462</td>
					<td>924</td>
				</tr>
				<tr>
					<td>Cost (Peso)</td>
					<td>880.00</td>
					<td>140.00</td>
					<td>560.00</td>
					<td>1680.00</td>
					<td>4,200.00</td>
					<td>9,240.00</td>
					<td>18,480.00</td>
				</tr>
			</tbody>
		</table>
	</div>
	 

	<h5>Lucky Pick</h5>

	<p>If you want to try any of the System Play(s) but you don’t have any number in mind, you can let the computer choose your numbers by playing Lucky Pick (LP).</p>

	<p>Just mark your choice of System Play and Lucky Pick (LP) on your play slip.</p>

	<p>For example:<br />

	5Roll, Lucky Pick – Mark 5R and LP on your play slip, pay Php880.00 for thirty-seven (37) combinations.<br />

	System 7, Lucky Pick – Mark SYS 7 and LP on your play slip, pay Php140.00 for seven (7) combinations.<br />

	The same principle applies to System 8, 9, 10, 11 and 12, Lucky Pick.</p>
	<hr />

	<h4>HOW TO PLAY MEGALOTTO 6/45</h4>
	<h5>Standard Play</h5>

	<p>Select the number of draws.</p>

	<p>Pick six numbers from 1 to 45 and mark with a vertical line.</p>

	<p>Mark LP for Lucky Pick.</p>

	<p>If an error is made, mark the VOID box to indicate that the board is cancelled.</p>

	<p>For only twenty pesos (Php20.00), you win if you match 6 or any 3, 4, or 5 numbers of the winning 6-number draw combination.</p>

	<p>If there are more than one jackpot winner, the jackpot prize will be divided equally among the winners. In the event that there are no winners for the jackpot, said prize is added to the pot of the next scheduled draw.</p>

	<p>Jackpot Prize = Minimum Jackpot Prize of Php 9 Million<br />
	Second Prize = Up to Php 50,000.00<br />
	Third Prize = Up to Php 1,500.00<br />
	Fourth Prize = Php 20.00</p>
	 

	<p>The Megalotto Draws can be seen every Monday, Wednesday and Friday at 9:00 p.m. over PTV 4 together with your other favorite Lotto games.</p>

	<h5>Advance Play</h5>

	<p>Avoid the long wait to be able to buy your tickets by playing the advance draws which allows you to play from 2 up to 6 consecutive draws. Simply mark the number of Advance Draws you want to play under DRAW panel, your ticket will automatically be valid for the current draw and the succeeding draws, depending on the number of draws you marked.</p>

	<p>For example:<br />
	3 Draws = ticket is valid for current draw and two (2) consecutive advance draws.</p>

	<h5>Sytem Play</h5>

	<p>You may increase your chances of winning by the System Play. Simply mark the system you want on your System Play panel and select the corresponding numbers in your game panel.</p>

	<h6>5-Roll (5R)</h6>

	<p>For only Php800.00, you may select five (5) numbers from 1 to 45 on your game panel. The computer selects the 6th number from the remaining 40 numbers you did not choose from, giving you a total of forty (40) six-number combination in the ordinary game.</p>

	<h6>System 7</h6>

	<p>It you have seven (7) numbers and you don’t know which number to drop, play System 7. The computer will give you all the possible six-number combinations from your seven (7) numbers. With System 7, seven (7) six-number combinations will be generated.</p>

	<p>For example:<br />

	Your seven (7) numbers are 02 – 05 – 17 – 23 – 29 – 36 – 41. All the possible six-number combinations are:</p>

	<p>02 – 05 – 17 – 23 – 29 – 36<br />
	02 – 05 – 17 – 23 – 29 – 41<br />
	02 – 05 – 17 – 23 – 36 – 41<br />
	02 – 05 – 17 – 29 – 36 – 41<br />
	02 – 05 – 23 – 29 – 36 – 41<br />
	02 – 17 – 23 – 29 – 36 – 41<br />
	05 – 17 – 23 – 29 – 36 – 41</p>
	<p>The same procedure and principle applies to Systems 9, 10, 11 and 12. Refer to the table for the corresponding number of combinations per System Play and the cost. Remember, Php20.00 for every six-number combination.</p>

	<div class="table-responsive">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>System</th>
					<th>5 Roll</th>
					<th>System 7</th>
					<th>System 8</th>
					<th>System 9</th>
					<th>System 10</th>
					<th>System 11</th>
					<th>System 12</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>No. of Combinations</td>
					<td>40</td>
					<td>7</td>
					<td>28</td>
					<td>84</td>
					<td>210</td>
					<td>462</td>
					<td>924</td>
				</tr>
				<tr>
					<td>Cost (Peso)</td>
					<td>800.00</td>
					<td>140.00</td>
					<td>560.00</td>
					<td>1680.00</td>
					<td>4,200.00</td>
					<td>9,240.00</td>
					<td>18,480.00</td>
				</tr>
			</tbody>
		</table>
	</div>
	 

	<h5>Lucky Pick</h5>

	<p>If you want to try any of the System Play(s) but you don’t have any number in mind, you can let the computer choose your numbers by playing Lucky Pick (LP).</p>

	<p>Just mark your choice of System Play and Lucky Pick (LP) on your play slip</p>

	<p>For example:<br />

	5Roll, Lucky Pick – Mark 5R and LP on your play slip, pay Php800.00 for forty (40) combinations.<br />

	System 7, Lucky Pick – Mark SYS 7 and LP on your play slip, pay Php140.00 for seven (7) combinations.<br />

	The same principle applies to System 8, 9, 10, 11 and 12, Lucky Pick.</p>
	<hr />

	<h4>HOW TO PLAY LOTTO 6/42</h4>
	<h5>Standard Play</h5>

	<p>Select the number of draws.</p>

	<p>Pick six numbers from 1 to 42 and mark with a vertical line.</p>

	<p>Mark LP for Lucky Pick.</p>

	<p>If an error is made, mark the VOID box to indicate that the board is cancelled.</p>

	<p>For only twenty pesos (Php20.00), you win if you match 6 or any 3, 4, or 5 numbers of the winning 6-number draw combination.</p>

	<p>Jackpot Prize = Minimum Jackpot Prize of Php 6 Million<br />
	Second Prize = Up to Php 25,000.00<br />
	Third Prize = Up to Php 1,000.00<br />
	Fourth Prize = Php 20.00<br />
	If there are more than one jackpot winner, the jackpot prize will be divided equally among the winners. In the event that there are no winners for the jackpot, said prize is added to the pot of the next scheduled draw.</p>

	<p>The Lotto 6/42 Draws can be seen every Tuesday, Thursday and Saturday at 9:00 p.m. over PTV 4 together with your other favorite Lotto games.</p>

	<h5>Advance Play</h5>

	 <p>To avoid long lines, missing out on a draw and going to the lotto outlet daily, you may play up to six (6) consecutive draws in advance.</p>

	<p>Just mark the number of draws you want to play under DRAW and your ticket is valid for the current draw and the succeeding draws depending on how many draws you marked.</p>

	<p>For example:<br />
	3 Draws = ticket is valid for current draw and two (2) consecutive advance draws.</p>

	 

	<h5>Sytem Play</h5>

	<p>You may increase your chances of winning by the System Play. Simply mark the system you want on your System Play panel and select the corresponding numbers in your game panel.</p>

	<h6>5-Roll (5R)</h6>

	<p>If you only have five (5) numbers and you want to play Lotto 6/42, play 5 Roll. The computer will match your five (5) numbers with the remaining thirty-seven (37) numbers that you did not choose from 1 – 42, giving you thirty-seven (37) six-number of combinations.</p>

	<h6>System 7</h6>

	<p>If you have seven (7) numbers and you don’t know which number to drop in order to play Lotto 6/42, play System 7. The computer will give you all the possible six-number combinations from your seven (7) numbers. With System 7, you will have seven (7) six-number combinations.</p>

	<p>For example:<br />

	Your seven (7) numbers are 02 – 05 – 16 – 22 – 26 – 38 – 41. All the possible six-number combinations are:</p>

	<p>02 -05 – 16 – 22 – 26 – 38<br />
	02 – 05 – 16 – 22 – 26 – 41<br />
	02 – 05 – 16 – 22 – 38 – 41<br />
	02 – 05 – 16 – 26 – 38 – 41<br />
	02 – 05 – 22 – 26 – 38 – 41<br />
	02 – 16 – 22 – 26 – 38 – 41<br />
	05 – 16 – 22 – 26 – 38 – 41<br />
	The same principle applies to Systems 9, 10, 11 and 12. Refer to the table for the corresponding number of combinations per System Play and the cost. Remember, Php20.00 for every six-number combination.</p>

	<div class="table-responsive">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>System</th>
					<th>5 Roll</th>
					<th>System 7</th>
					<th>System 8</th>
					<th>System 9</th>
					<th>System 10</th>
					<th>System 11</th>
					<th>System 12</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>No. of Combinations</td>
					<td>37</td>
					<td>7</td>
					<td>28</td>
					<td>84</td>
					<td>210</td>
					<td>462</td>
					<td>924</td>
				</tr>
				<tr>
					<td>Cost (Peso)</td>
					<td>740.00</td>
					<td>140.00</td>
					<td>560.00</td>
					<td>1680.00</td>
					<td>4,200.00</td>
					<td>9,240.00</td>
					<td>18,480.00</td>
				</tr>
			</tbody>
		</table>
	</div>
	 

	<h5>Lucky Pick</h5>

	<p>If you want to try any of the System Play(s) but you don’t have any number in mind, you can let the computer choose your numbers by playing Lucky Pick (LP).</p>

	<p>Just mark your choice of System Play and Lucky Pick (LP) on your play slip</p>

	<p>For example:<br />

	5Roll, Lucky Pick – Mark 5R and LP on your play slip, pay Php740.00 for thirty-seven (37) combinations.<br />

	System 7, Lucky Pick – Mark SYS 7 and LP on your play slip, pay Php140.00 for seven (7) combinations.<br />

	The same principle applies to System 8, 9, 10, 11 and 12, Lucky Pick.</p>

</div>
<div class="col-md-1">&nbsp;</div>